doctype html
html(lang='en')
head
link(rel='stylesheet',href='/stylesheets/style.css')
link(rel='stylesheet',href='/stylesheets/bootstrap.css')
body
.navbar.navbar-default(role='navigation')
.container
.navbar-header
	button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
		span.sr-only Toggle navigation
		a.navbar-brand(href='/') Registeration System
		.navbar-collapse.collapse
			ul.nav.navbar-nav
				li(class=(title =='member' ? 'active' : ''))
					a(href='/') Member
				li(class=(title =='register' ? 'active' : ''))
					a(href='/users/register') Register
				li(class=(title =='login' ? 'active' : ''))
					a(href='/users/login') Login
				li(class='list')
					a(href='/users/logout') Logout    
.container
		!=messages()
block content

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='javascripts/bootstrap.js')

